format = """
$directory\
$git_branch\
$git_status\
$python\
$golang\
$nodejs\
$docker_context\
$line_break\
$character"""

[directory]
truncation_length = 3
truncate_to_repo = true

[git_branch]
format = "[$symbol$branch]($style) "
symbol = " "

[git_status]
format = '([$all_status$ahead_behind]($style) )'

[python]
format = '[${symbol}${pyenv_prefix}(${version} )(\($virtualenv\) )]($style)'
symbol = " "

[golang]
format = "[$symbol($version )]($style)"
symbol = " "

[nodejs]
format = "[$symbol($version )]($style)"
symbol = " "
detect_files = ["package.json", ".node-version"]

[docker_context]
format = "[$symbol$context]($style) "
symbol = " "

[character]
success_symbol = "[>](bold green)"
error_symbol = "[>](bold red)"
